
  <div class="panel_contents">
  <form method="get" id="q_search" class="filter_form" action="/admin/users" accept-charset="UTF-8">
    <div class="filter_form_field filter_string">
      <label for="q_location" class=" label">Search location:</label>
      <input type="text" name="q[location_contains]" id="q_location" size="30"/>
      <input type="submit" value="Go" name="commit" id="q_submit" />
    </div>
  </form>
</div>

<div class="panel_contents">
  <form method="get" id="q_search" class="filter_form" action="/admin/skills" accept-charset="UTF-8">
    <div class="filter_form_field filter_string">
      <label for="q_skill" class=" label">Search skill:</label>
      <input type="text" name="q[name_contains]" id="q_skill" size="30"/>
      <input type="submit" value="Go" name="commit" id="q_submit" />
    </div>
  </form>
</div>



