
<div>
	<style>
table, th, td {
    border: 1px solid black;
}
</style>
	<table><tr>
		    <th>Name</th>
		    <th>class</th>
		    <th>location</th>
		  </tr>
		  <% @tutors.each do |tutors| %> 
<tr>
		  <td>
		  	<%= tutors.name%>
		  </td>
		  <td><%= tutors.email %></td>
	
	  <td><%=tutors.location  %></td>
	</tr>
<% end %>   
    </table>
</div>

