<div class="background_image">

  <div class="box">
    <h1><strong>Find Best Home Tutors in Kochi </strong></h1><br>
    <h3>We have 30,000+ qualified home tuition teachers to work with students. Search for the home tutor in your local area and get one to one free trial session.</h3><br>
    <h2> <a href="/find_a_tutor/" class="btn btn-primary"> Find a tutor now!</a></h2>

    <br>
  </div>

</div>
