    <div class="sign_up">
            <div class="text">
            <h1> You Want To Teach ?</h1><br>
            <h3>  Earn money by tutoring </h3><br>
            <h2> <a href="/edit-profile/" class="btn btn-primary"> Sign up as a tutor now!</a></h2>
        </div>
    </div>
