#map {
  height: 500px;
  width: 100%;
}

.background_image{
  padding-top: 1000px;
  background-image: image-url("thought.jpg");
  background-size: 70%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
      background-size: cover;
  	-webkit-background-size: cover;
      -moz-background-size: cover;
  	height: 800px;
  	min-height: 35vh;
  	padding: 0;

}

.box{
  background-color: rgba(62,65,69,0.1);
  padding: 20px;
  border-radius: 20px;
  padding-left: 200px;
  height: 400px;
  width: 50%;
  text-align:right;
  margin: 0 auto;
  position: relative;
  transform: translateY(30%);
  color: #37aee5;
}

.sign_up{
  background-image: image-url("boy_chalkboard.png");
  background-size: 60%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  	-webkit-background-size: cover;
      -moz-background-size: cover;
  	height: 800px;
  	min-height: 35vh;
  	padding: 0;

}
.registration{
  background-image: image-url("registration.png");
  background-size: 60%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  	-webkit-background-size: cover;
      -moz-background-size: cover;
  	height: 500px;
  	min-height: 35vh;
  	padding: 0;

}

.text{
  background-color: rgba(47,46,45,0.4);
  padding: 10px;
  border-radius: 2  0px;
  padding-left: 300px;
  height: 300px;
  width: 60%;
  text-align:center;
  margin: 0 auto;
  position: relative;
  transform: translateY(30%);
  color: #37aee5;
}

.listing {
 background-color: #E8F5FD;;
 padding: 5px;
 margin: 20px 20px 20px 20px;
 border-radius: 10px;
 box-shadow: 1px 1px 3px 2px #f5f8fa;
 text-align: right;
}
