<!DOCTYPE html>
<html>
  <head>
    <title>Clevercat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  </head>

  <body>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,300' rel='stylesheet' type='text/css'>


      		<nav id="navigation" class="nav" role="navigation" onclick="">
    			<ul>
    				<li class="current"><a href="/"><%= image_tag "CleverCat(2).png", size: "80x80" %></a></li>
    				<li><a href="/find_a_tutor">Find a Tutor</a></li>
    				<li><a href="/tutor_signup">Start Tutoring</a></li>
            <li><a href="/conversations">Mail Box</a></li>

          <span class="navbar-text">
            <% if !user_signed_in? %>
              <%= link_to "Log in", new_user_session_path %>
            <% end %>

            <% if user_signed_in? %>
              Welcome, <%= current_user.email %> | <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            <% end %>
            </ul>
          </span>
    		</nav>


    <%= yield %>



  </body>
</html>
